<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 pt-1">
    <div class="relative overflow-hidden delay-150 duration-300 ease-in-out">
        <section class="bg-black">
            <img src="/alan.jpeg"
             alt="Alan Turing"
            class="w-full h-auto sm:w-full sm:h-auto object-cover opacity-70" />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center">
            <h2 class="text-3xl font-bold text-white mb-2">Tests</h2>
            <p class="text-white">
                Access the content and educational materials provided by the institution.
            </p>
        </div>
    </div>
    <div class="relative overflow-hidden shadow-md delay-150 duration-300 ease-in-out">
        <section class="bg-black">
            <img src="/einstein.jpeg" alt="Albert Einstein"
                class="w-full h-auto sm:w-full sm:h-auto object-cover opacity-70" />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center">
            <h2 class="text-3xl text-white mb-2">Articles</h2>
        </div>
    </div>
    <div class="relative overflow-hidden shadow-md delay-150 duration-300 ease-in-out">
        <section class="bg-black">
            <img src="open.jpeg" alt="Robert Openheimmer"
                class="w-full h-auto sm:w-full sm:h-auto object-cover opacity-70" />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center">
            <h2 class="text-3xl text-white mb-2">Our work</h2>
        </div>
    </div>
    <div class="relative overflow-hidden shadow-md delay-150 duration-300 ease-in-out">
        <section class="bg-black">
            <img src="/margaret.jpeg" alt="Margaret"
                class="w-full h-auto sm:w-full sm:h-auto object-cover opacity-70" />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center">
            <h2 class="text-3xl text-white mb-2">See more</h2>
        </div>
    </div>
</div>