<footer>
    <div class="bg-black shadow-sm dark:border-b dark:border-gray-800 h-22 w-full ">
      <section class="text-white flex justify-center pt-5 items-center">
        <h1>All rights reserved &#64;GradeHub</h1>
      </section>
      <section class="text-white flex justify-center items-center">
      </section>
      <section class="text-white flex justify-center items-center pb-2">
        <img src="git.png" 
        alt="GitHub"
        class="w-10 h-10">
      </section>
    </div>
  </footer>