    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-10 p-4  ">
      <div class="relative shadow-md overflow-hidden  delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">
        <section class="bg-gray-900 ">
          <img
            src= "night.jpg"
            width={1000}
            height={1000}
            alt="University"
            class="w-full h-full object-cover opacity-70 "
          />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center ">
          <h2 class="text-3xl font-bold text-white mb-2">Activities</h2>
          <p class="text-white ">
            Access the content and educational materials provided by the
            institution.
          </p>
        </div>
      </div>
      <div class="relative shadow-md  overflow-hidden relative shadow-md overflow-hidden  delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">
        <section class="bg-gray-900">
          <img
            src="/jupiter.jpg"
            alt="University"
            width={1000}
            height={1000}
            class="w-full h-full object-cover opacity-60 "
          />
        </section>
        <div class="absolute inset-5 flex flex-col justify-center items-center ">
          <h2 class="text-3xl font-bold text-white mb-2">Dashboard</h2>
          <p class="text-white ">
            Access the dashboard, whether you are a student or a teacher.
          </p>
        </div>
      </div>
    </div>

